---

import Layout from '../layouts/Layout.astro'
import HeaderLayout from '../layouts/HeaderLayout.astro'

---
<Layout title="Estudio">

    <HeaderLayout/>

    <h1 class="text-center text-7xl">Estudio</h1>
</Layout>