---
import IntroHr from "./IntroHr.astro"
import IntroInfo from "./IntroInfo.astro"
---


<section class="w-[100%] block mt-[80px] sm:mt-[120px] flex-wrap px-[20px] lg:flex lg:px-[40px]">
    <div class="w-full flex justify-end">
        <h3 class="mb-5">La obra</h3>
    </div>
    <picture class="w-full mb-0 block lg:w-[30%] ">
        <img class="w-full h-full object-cover" src="../src/img/bosque.webp" alt="Bosque">
    </picture>
    <div class="w-full block pl-0 mt-4 uppercase lg:w-[70%] lg:pl-[40px] lg:mt-0">
        <IntroHr/>
        <IntroInfo
        info1="holasupervuelta"
        info2="NAMING, IDENTIDAD, ESTRATEGIA"
        info3="DETROIT, MI"
        info4="2024"
        />
        <IntroHr/>
        <IntroInfo
        info1="HESTIA"
        info2="IDENTIDAD, PACKAGING Y DISEÑO WEB"
        info3="DURHAM, CAROLINA DEL NORTE"
        info4="2023"
        />
        <IntroHr/>
        <IntroInfo
        info1="TERRITORIO AUTÓNOMO"
        info2="IDENTIDAD, SITIO WEB, SOCIAL"
        info3="DETROIT, MI"
        info4="2024"
        />
        <IntroHr/>
        <IntroInfo
        info1="ESTUDIO VERA"
        info2="IDENTIDAD, SITIO WEB, SOCIAL"
        info3="DETROIT, MI"
        info4="2024"
        />
        <IntroHr/>
        <IntroInfo
        info1="PROPULSOR"
        info2="NOMBRE, IDENTIDAD, SITIO WEB"
        info3="SAN FRANCISCO, CA"
        info4="2023"
        />
        <IntroHr/>
        <IntroInfo
        info1="MEIJER"
        info2="IDENTIDAD, WEB, SEÑALÉTICA"
        info3="GRAND RAPIDS, MI"
        info4="2024"
        />
        <IntroHr/>
        <IntroInfo
        info1="LALO"
        info2="IDENTIDAD, WEB, SEÑALÉTICA"
        info3="NUEVA YORK, NY"
        info4="2024"
        />
        <IntroHr/>
        <IntroInfo
        info1="TESORERÍA PRIME"
        info2="DISEÑO DE PRODUCTO DIGITAL Y WEB"
        info3="SAN FRANCISCO, CA"
        info4="2024"
        />
        <IntroHr/>
    </div>
</section>