---

---

<section class="my-[120px] bg-[var(--black)] text-white uppercase py-[20px] overflow-hidden">
    <h3 class="text-nowrap">Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more. Ready to work together? Tell us more.</h3>
</section>

<style>
    h3{
        animation: slider--tt 30s infinite linear alternate;
    }
    @keyframes slider--tt {
        100%{
            transform: translateX(-150%)
        } 
    }
</style>