---
import VoltCars from "./VoltCars.astro"
---

<section class="px-[20px] flex-colums mt-[80px] sm:mt-[220px] gap-[20px] lg:px-[40px] md:flex">
    <VoltCars 
    title="../src/img/vol-tt-1.webp"
    img="../src/img/vol-1.webp"
    />
    <VoltCars 
    title="../src/img/vol-tt-2.webp"
    img="../src/img/vol-2.webp"
    />
    <VoltCars 
    title="../src/img/vol-tt-3.webp"
    img="../src/img/vol-3.webp"
    />

</section>