---

---

<footer>
    <img class="w-full px-5" src="../src/img/hero.webp" alt="logo">

    <ul class="flex justify-center items-center uppercase my-[120px] font-bold gap-[5%]">
        <li><a class="font-bold text-black" href="./">estudio</a></li>
        <li><a class="font-bold text-black" href="./ethos">ethos</a></li>
        <li><a class="font-bold text-black" href="./casa">casa</a></li>
        <li><a class="font-bold text-black" href="./tienda">tienda</a></li>

    </ul>
</footer>